[submodule "components/axp202"]
	path = components/axp202
	url = https://github.com/gengyuchao/axp202.git
[submodule "components/esp_i2c_helper"]
	path = components/esp_i2c_helper
	url = https://github.com/gengyuchao/esp_i2c_helper.git
[submodule "components/pcf8563"]
	path = components/pcf8563
	url = https://github.com/gengyuchao/pcf8563.git
[submodule "lv_examples"]
	path = components/lv_examples/lv_examples
	url = https://github.com/littlevgl/lv_examples.git
	branch = release/v7
[submodule "components/lvgl_esp32_drivers"]
	path = components/lvgl_esp32_drivers
	url = https://github.com/gengyuchao/lvgl_esp32_drivers.git
[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl.git

